.page-footer {
  margin: 0 auto;
  background-color: $color-blue-zodiac;
  width: 100%;
  min-height: 80px;
  padding: 30px 0;

  a {
    cursor: pointer;
    user-select: none;

    @media (min-width: $vp-768) {
      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.page-footer__wrapper {
  width: $desktop-content;
  margin: 0 auto;
  display: flex;
  column-gap: 80px;
  align-items: center;
  justify-content: space-between;

  @include vp-1279 {
    column-gap: 30px;
    width: auto;
    padding-left: $desktop-padding-asade;
    padding-right: $desktop-padding-asade;
  }

  @include vp-1023 {
    column-gap: 60px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 30px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

.page-footer__inf {
  width: 306px;
  align-self: center;
  flex-shrink: 0;
}

.page-footer__inf-text {
  color: $color-default-white;
  font-size: 13px;
  font-weight: 400;  
  margin: 0;
}

.page-footer__payment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 45px;
  row-gap: 15px;
  position: relative;


  @include vp-1279 {
    column-gap: 15px;
  }

  @include vp-1023 {
    column-gap: 25px;
  }

  &::after, &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: $color-silver;
    top: 0;
  }

  &::before {
    left: -40px;

    @include vp-1279 {
      left: -15px;
    }

    @include vp-1023 {
      left: -30px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &::after {
    right: -40px;

    @include vp-1279 {
      right: -15px;
    }

    @include vp-1023 {
      right: -30px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.page-footer__payment-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;

  @include vp-1279 {
    gap: 5px;
  }

  @include vp-1023 {
    display: block;
  }

  p {
    color: $color-silver;
    font-size: 13px;
    font-weight: 400;
    margin: 0;

    @include vp-1023 {
      display: none;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }  
}

.page-footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  // margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 45px;
  row-gap: 15px;
  flex-wrap: wrap;

  @include vp-1279 {
    column-gap: 15px;
  }

  @include vp-1023 {
    column-gap: 25px;
  }

}

.page-footer__social-link {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;

  @include vp-1279 {
    gap: 5px;
  }

  @include vp-1023 {
    display: block;
  }


  svg {
    width: 15px;
    height: 15px;
  }

  p {
    color: $color-default-white;
    font-weight: 400px;
    font-size: 13px;
    margin: 0;

    @include vp-1023 {
      display: none;
    }
  }
}
